@import "../../../styles/variables.scss";

.nav {
  z-index: 100;
  position: sticky;
  top: 0;
  height: 204px;
  background: transparent linear-gradient(270deg, #3e2f72 0%, #271e49 100%) 0%
    0% no-repeat padding-box;
  padding: 0 307px;
}

.innerNav {
  height: 150%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .navLink {
    color: #f3f3f3;
    font-size: 3rem !important;
    font: normal normal bold 36px/43px Cormorant Garamond;
  }

  .navLinkButton {
    transition: all 0.3s ease;
    font: normal normal normal 16px/19px Work Sans;
    letter-spacing: 0px;
    color: #fcfcfc;
    background-color: #3e2f72;
    border: 2px solid #fcfcfc;
    font-size: 2rem;
    padding: 12px 27px 12px 32px;

    &:hover {
      background-color: map-get($colors, grey);
    }
  }
}
