@import "../../../styles/variables.scss";

body {
  background: #f3f3f3 0% 0% no-repeat padding-box;
}

.divider {
  color: #3e3f71;
}

.attachSvg {
  margin-right: 7px;
}

.tableCellHeader {
  color: #8a8a8a !important;
}
