@import "../../../styles/variables.scss";

body {
  background: #f3f3f3 0% 0% no-repeat padding-box;
}

.nav {
  position: sticky;
  top: 0;
  height: 204px;
  background: transparent linear-gradient(270deg, #3e2f72 0%, #271e49 100%) 0%
    0% no-repeat padding-box;
}

.innerNav {
  display: flex;
  align-items: center;
  height: 130%;
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 12px 0 12px;

  .navHeader {
    color: #f3f3f3;
    font-size: 3rem !important;
    font: normal normal 36px/43px Cormorant Garamond;
    margin-top: 50px;
  }

  .navLinkButton {
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    cursor: pointer;
    margin-left: 1075px;
    margin-top: 50px;
    font-size: 1.3rem;
    color: #fcfcfc;
    background-color: #3e2f72;
    border: 2px solid #fcfcfc;

    &:hover {
      background: #fcfcfc 0% 0% no-repeat padding-box;
      color: #3e2f72;
    }
  }
}

.modalHeader {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: #35285f;
}

.headers {
  &__text {
    color: #8a8a8a;
    text-align: left;
  }
}

.uploadFiles {
  display: flex;
  flex-direction: column;

  &__header {
    font-size: 1.2rem;
    font-weight: 600;
    color: #222246;
  }

  &__content {
    margin-top: 3px;
    color: #8a8a8a;
  }
}

.uploadFilesContainer {
  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14px;

    .buttonContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &:not(:last-child) {
        margin-right: 45px;
      }

      &__button {
        width: 272px;
        height: 148px;
        border: 2px dashed #8a8a8a !important;
      }

      &__buttonUploaded {
        width: 272px;
        height: 148px;
        background-color: #f3f3f3;
      }

      &__text {
        margin-top: 10px;
        font-size: 1.5rem;
        color: #3e2f71;
      }
    }
  }

  &__error {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    padding: 72px;
    font-size: 2rem;
    color: #e4461f;
  }

  .addFileSvg {
    width: 6vh;
    height: 7.7vh;
    cursor: pointer;
  }
}

.uploadFilesSpinnerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.derivativesContainer {
  display: flex;
  flex-direction: column;
  margin-top: 25px;

  &__headers {
    display: flex;
    flex-direction: column;

    &--header {
      font-size: 1.2rem;
      font-weight: 600;
      color: #222246;
    }

    &--content {
      margin-top: 3px;
      color: #8a8a8a;
    }
  }
}

.derivativesTableContainer {
  display: flex;
  margin-bottom: 35px;

  &__table {
    display: flex;
    justify-content: space-between;
    width: 575px;
    height: 274px;
    margin-top: 24px;
    border: 1px solid #8a8a8a;
  }

  &__text {
    display: flex;
    flex-direction: column;
    width: 560px;

    &--matchedRows {
      font-size: 1.1rem;
      font-weight: 600;
      padding: 5px;

      &:not(:last-child) {
        border-bottom: 1px solid #f3f3f3;
      }
    }
  }

  &__data {
    display: flex;
    flex-direction: column;

    &--number {
      display: flex;
      justify-content: center;
      padding: 5px;
      font-size: 1.1rem;
      font-weight: 600;

      &:not(:last-child) {
        border-bottom: 1px solid #f3f3f3;
      }
    }
  }

  &__calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 274px;
    margin-top: 24px;
    border: 1px solid #8a8a8a;

    &--text {
      font-size: 2rem;
      color: #8a8a8a;
    }

    &--percentage {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-left: 10px;
      font-size: 3.5rem;
      color: #3e2f71;
    }
  }
}

.downloadFileContainer {
  display: flex;
  flex-direction: column;

  &__headers {
    display: flex;
    flex-direction: column;

    &--header {
      font-size: 1.2rem;
      font-weight: 600;
      color: #222246;
    }

    &--content {
      margin-top: 3px;
      color: #8a8a8a;
    }
  }

  &__box {
    display: flex;
    padding: 18px;
    margin-top: 24px;
    border: 1px solid #8a8a8a;

    &--text {
      display: flex;
      color: #3e2f71;

      &__svg {
        margin-right: 6px;
      }
    }

    &--link {
      display: flex;
    }

    &--download {
      position: absolute;
      left: 750px;
      bottom: 46px;
      height: 2.4vh;
      width: 2.4vh;
    }
  }
}

.divider {
  color: #3e3f71;
}

.downloadButton {
  cursor: pointer;
  border: none;
  background: none;
  font-weight: 700;
  color: #3e2f71;
}

.tableCellHeader {
  color: #8a8a8a !important;
}
