@import "../../../styles/variables.scss";

body {
  padding: map-get($sizes, minimal-padding);
  background-color: map-get($colors, primary);
}

input[type="file"] {
  display: none;
}

.outerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    font-size: 5rem;
    font-weight: 600;
    color: map-get($colors, title);
  }
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  &__button {
    width: 340px;
    height: 300px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__label {
    cursor: pointer;
  }
}

.processContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  &__button {
    width: 300px;
    height: 100px;
  }

  &__report {
    margin-top: 70px;

    &--green {
      font-size: 2rem;
      margin-left: 100px;
      color: #238823;

      &:not(:last-child) {
        margin-bottom: 50px;
      }
    }

    &--orenge {
      font-size: 2rem;
      margin-left: 100px;
      color: #ffbf00;

      &:not(:last-child) {
        margin-bottom: 50px;
      }
    }

    &--red {
      font-size: 2rem;
      margin-left: 100px;
      color: #d2222d;

      &:not(:last-child) {
        margin-bottom: 50px;
      }
    }
  }
}

.svg {
  align-self: center;
  width: 15vh;
  height: 15vh;
  filter: invert(49%) sepia(14%) saturate(1529%) hue-rotate(71deg)
    brightness(98%) contrast(93%);
}
